.proyectos__main {

    .main__lightbox-proyectos {

        width: 80%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);

        .ligthbox-proyectos__div-img {


            .div-img__img {

            }

            img {

            }
        }

    }

}